.img-fluid {
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
}

.show-btn {
  background-color:#ffc0bd;
  border: 1px solid #ffc0bd;
  color:black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.container-m {
  margin-top: 80px;
}

footer.footer {
  color: black;
  text-align: center;
}