/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
/* /共通 */

/* 商品画像 */
.img-upload {
  display: flex;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /商品画像 */

.select-box {
  justify-content: center;
}

/* 下部ボタン */
.btn-contents {
  width: 60%;
  display: flex;
  justify-content: center;
  background-color: #ffc0bd;
}

.btn {
  border: 1px solid #ffc0bd;
  color:black;
  width: 50vw;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background-color:darkgray;
  border: 1px solid darkgray;
  color:black;
  text-decoration: none;
  text-align: center;
}

/* /下部ボタン */