<div class="col">
      <div class="card" style="width: 18rem;">
       <%= image_tag recipe.image, class: "img-fluid" if recipe.image.attached? %>
       <div class="card-body">
        <h5 class="card-title fw-bold"><%= recipe.recipe_name %></h5>
        <p class="card-text"><%= recipe.remarks %></p>
        <%=link_to '詳細ページへ', recipe_path(recipe.id), class:"show-btn" %>
       </div>
      </div>
</div>