<div class="d-flex vh-100 text-center text-body bg-white">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center align-items-center">
 <main class="p-5">
    <h2 class="mb-3">レシピを削除しました</h2>
    <p class="lead">
      <%=link_to 'トップページへ', root_path, class:"show-btn px-3" %>
    </p>
 </main>
</div>

</div>
