<main>
  <p class="fs-3 text-dark text-center my-1">レシピ一覧</p>
<div class="img-hidden">
  <%= image_tag'hero_image.jpg',class:"img-fluid w-100"%>
</div>
 
    <!-- レシピ一覧 -->

    

      <div class="card" style="width: 18rem;">
       <img src="..." class="card-img-top" alt="画像">
        <div class="card-body">
         <h5 class="card-title">レシピ名</h5>
         <p class="card-text">コメント欄</p>
         <%=link_to '詳細ページへ', root_path, class:"show-btn" %>
        </div>
     </div>  
  
</main>

  