<main>
  <p class="fs-3 text-dark text-center my-1">レシピ一覧</p>
<div class="img-hidden">
  <%= image_tag'hero_image.jpg',class:"img-fluid w-100"%>
</div>
 
    <!-- レシピ一覧 -->

    <% @recipes.each do |recipe| %>
      <div class="card" style="width: 18rem;">
       <svg class="bd-placeholder-img rounded-circle" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><%= recipe.image %></svg> 
       <div class="card-body">
        <h3 class="card-title"><%= recipe.recipe_name %></h3>
        <p class="card-text"><%= recipe.remarks %></p>
        <a href="#" class="btn btn-secondary">詳細ページへ &raquo;</a>
       </div>
      </div>
    <% end %>  
  
</main>

  