<main>
  <p class="fs-3 text-dark text-center my-1">レシピ一覧</p>
   <div class="img-hidden">
    <%= image_tag'hero_image.jpg',class:"img-fluid w-100"%>
   </div>
    
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    <% @recipes.each do |recipe| %>
      <%= render partial: "recipe", locals: { recipe: recipe } %>
    <% end %>
  </div>       
</div> 

</main>

  